@inherits LayoutComponentBase

<div class="auth-container">
    <div class="auth-card card shadow-sm">
        <div class="card-body p-4">
            <div class="auth-brand text-center mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                     class="text-primary mb-2" viewBox="0 0 16 16">
                    <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366A1.5 1.5 0 0 1 8 16h-1a1.5 1.5 0 0 1 0-3h1a1.5 1.5 0 0 1 1.5 1.5h.634A1.5 1.5 0 0 0 11 13V11h-1a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1V6a5 5 0 0 0-3-4.584V1z" />
                </svg>
                <div class="fw-semibold fs-5 text-body">ActiveChat Admin</div>
            </div>
            @Body
        </div>
    </div>
</div>
