<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ActiveChat Admin</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tenants">
                <span class="bi bi-building" aria-hidden="true"></span> Тенанты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="channels">
                <span class="bi bi-broadcast" aria-hidden="true"></span> Каналы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tenant-tables">
                <span class="bi bi-table" aria-hidden="true"></span> Таблицы тенанта
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="migrate-tenants">
                <span class="bi bi-database-gear" aria-hidden="true"></span> Миграции тенантов
            </NavLink>
        </div>
    </nav>
</div>
